
h4 {
	text-align:center;
 	color:#ff7700;
	font-family:”Times New Roman”;
	text-decoration: underline overline;
	font-size: 30px;
}

.top {
	font-family: "Arial";
	font-size: 14px;
	color:green;
}

.top::first-letter {
  	color: #0099ff;
  	font-size: 22px;
}

.top::first-line {
  	color: #fc035a;
  	font-variant: small-caps;
	font-family: "monospace";
	font-size: 20px;
}

.box {
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
	min-height: 200px;
	width: 50vw;
	margin: 100px auto;
	background:whitesmoke;
	border-radius: 5px;
  }
  
  body {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

.top:hover {color: red;}
a { color: blue; }
a:hover { color: #0099ff;}
