body { 
	color:black;
	background-color:#ffef91;
}

h4 {
	text-align:center;
 	color:#ff7700;
	font-family:”Times New Roman”;
	text-decoration: underline overline;
	font-size: 30px;
}

.top {
	font-family: "Arial";
	font-size: 14px;
	color:green;
}

.top::first-letter {
  	color: #0099ff;
  	font-size: 18px;
}

.top::first-line {
  	color: #fc035a;
  	font-variant: petite-caps;
	font-family: "monospace";
}

.top:hover {color: red;}
a { color: blue; }
a:hover { color: #0099ff;}
